.skills-section {
  display: flex;
  flex-direction: column;
  margin-top: 50vh;
  padding: 1vh 1vw;
}

.skills-section .skills-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background-color);
  font-size: 3vh;
}
.skills-heading span {
  color: var(--accent-color);
}

.skills-section .skill-container {
  margin-top: 20vh;
  display: grid;
  grid-template-columns: 2fr 2fr;
  row-gap: 15vh;
}

.skill-container > div {
  perspective: 1000px;
}

.tilt {
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease-out;
  will-change: transform;
  transform-style: preserve-3d;
}

.tilt:hover {
  transform: none;
}

@media (max-width:500px) {
  .skills-section .skill-container{
    grid-template-columns: 1fr;
    
  }
}
